### Question 1: Write a Python program to count the number of elements in a list without using len.


- `sample input : `
    - `var = [10,11,12,13]`
- `sample output :`
    - `result : 4`

In [ ]:
var=[10,2,3,4,5]
count=0
for i in var:
  count+=1
print(count)

5

### Question 2: Write a Python program to find the maximum and minimum values in a given list.

- `sample input : `
    - `var = [10,11,12,13,14,15]`
- `sample output :`
    - `result : max = 15 , min = 10`

In [ ]:
var = [10,11,12,13,14,15]

maxi=max(var)
mini=min(var)

print(f'Maximum value is {maxi} and Minimum Value is {mini}')

Maximum value is 15 and Minimum Value is 10

### Question 3: Write a Python program to remove the first occurrence of a specified element from a list.

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : [1,3,4,2,5]`

In [ ]:
var=[1,2,3,4,2,5]
c=[]

for i in var:
  if i not in c:
    c.append(i)

print(c)

[1, 2, 3, 4, 5]

### Question 4: Write a Python program to find the average of all the elements in a list.


- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 2.833 `

In [ ]:
var = [1,2,3,4,2,5]
c=0
count=0
for i in var:
  c=i+c
  count+=1
average= c/count
print(average)

17
6
2.8333333333333335

### Question 5: Write a Python program to check if a list is empty or not.


- `sample input : `
    - `var1 = [1,2]`
- `sample output :`
    - `result : Not empty`
    
- `sample input : `
    - `var1 = []`
- `sample output :`
    - `result :empty`

In [ ]:
var=[1,2]
count=0
for i in var:
  count+=1

if count== 0:
  print('List is empty')
else:
  print('List is not empty')

List is not empty

In [ ]:
var=[]
count=0
for i in var:
  count+=1

if count== 0:
  print('List is empty')
else:
  print('List is not empty')

List is empty

### Question 6:  Write a Python program to find the index of a specified element in a list..

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 3 index is 2`

In [ ]:
var=[1,2,3,4,2,6,10,14]
print('Enter the Specified Element to Find its index :')
var.index(int(input()))

Enter the Specified Element to Find its index :
10

6

### Question 7: Write a Python program to find which number is palindrome in below given list .

- `sample input : `
    - `var = [134,121,155]`
- `sample output :`
    - `result : 134 is not a palindome , 121 is a palindrome `

In [ ]:
var=[134,121,155]

for i in var:
  b=int(str(i)[::-1])
  if i == b:
    print(f'{i} is Palindrome')
  else:
    print(f'{i} is not Palindrome')

134 is not Palindrome
121 is Palindrome
155 is not Palindrome

### Question 8: Write a Python program to find the common elements between two lists.

- `sample input : `
    - `var1 = [1,2,3,4,10]`
    - `var2 = [10,11,12,14]`
- `sample output :`
    - `result : 10`

In [ ]:
var1 = [1,2,3,4,10]
var2 = [10,11,12,14]

set(var1).intersection(set(var2))

{10}

### Question 9: Write a Python program to remove the duplicates from a list

- `sample input : `
    - `var = [10,11,12,10,12,24]`
- `sample output :`
    - `result : [10,11,12,24]`

In [ ]:
var = [10,11,12,10,12,24]
c=[]
for i in var:
  if i not in c:
    c.append(i)
print(c)

[10, 11, 12, 24]

### Question 10:  Write a Python program to sort a list of strings in Ascii Order [Ascending order]


- `sample input : `
    - `var = ['a' , 'c' , 'b']`
- `sample output :`
    - `result : ['a' , 'b' , 'c']`

In [ ]:
var=['a','c','b']
c=[]
for i in var:

  c.append(ord(i))

c.sort()
b=[]
for i in c:
  b.append(chr(i))
print(b)

['a', 'b', 'c']